{% extends 'base.html' %}
{% block content %}
<div class="row g-3">
  <div class="col-12 col-md-5">
    {% if person.photo %}
      <img src="{{ person.photo.url }}" class="img-fluid rounded" alt="{{ person.possible_name }}">
    {% endif %}
  </div>
  <div class="col-12 col-md-7">
    <h3 class="fw-bold">{{ person.possible_name|default:'Unidentified' }}</h3>
    <p class="text-muted mb-1">Found at: {{ person.found_location }}{% if person.found_date %} on {{ person.found_date }}{% endif %}</p>
    <ul class="list-unstyled small">
      <li><strong>Estimated age:</strong> {{ person.estimated_age|default:'-' }}</li>
      <li><strong>Gender:</strong> {{ person.get_gender_display|default:'-' }}</li>
    </ul>
    <p>{{ person.notes }}</p>
    <a href="/found/" class="btn btn-outline-secondary btn-sm">Back to list</a>
  </div>
</div>
{% endblock %}


